@CHARSET "ISO-8859-1";
#bowlG{
	position:fixed;
	width:102px;
	height:102px;
	left: 48%;
	top: 48%;
}

#bowl_ringG{
	position:absolute;
	width:102px;
	height:102px;
	border:4px solid rgb(0,0,0);
	border-radius:51px;
		-o-border-radius:51px;
		-ms-border-radius:51px;
		-webkit-border-radius:51px;
		-moz-border-radius:51px;
}

.ball_holderG{
	position:absolute;
	width:28px;
	height:102px;
	left:40px;
	top:0;
	animation-name:ball_moveG;
		-o-animation-name:ball_moveG;
		-ms-animation-name:ball_moveG;
		-webkit-animation-name:ball_moveG;
		-moz-animation-name:ball_moveG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-timing-function:linear;
		-o-animation-timing-function:linear;
		-ms-animation-timing-function:linear;
		-webkit-animation-timing-function:linear;
		-moz-animation-timing-function:linear;
}

.ballG{
	position:absolute;
	left:0px;
	top:-12px;
	width:50px;
	height:50px;
	background:rgb(224,18,18);
	border-radius:34px;
	-o-border-radius:34px;
	-ms-border-radius:34px;
	-webkit-border-radius:34px;
		-moz-border-radius:34px;
}



@keyframes ball_moveG{
	0%{
		transform:rotate(0deg)
	}

	100%{
		transform:rotate(360deg)
	}
}

@-o-keyframes ball_moveG{
	0%{
		-o-transform:rotate(0deg)
	}

	100%{
		-o-transform:rotate(360deg)
	}
}

@-ms-keyframes ball_moveG{
	0%{
		-ms-transform:rotate(0deg)
	}

	100%{
		-ms-transform:rotate(360deg)
	}
}

@-webkit-keyframes ball_moveG{
	0%{
		-webkit-transform:rotate(0deg)
	}

	100%{
		-webkit-transform:rotate(360deg)
	}
}

@-moz-keyframes ball_moveG{
	0%{
		-moz-transform:rotate(0deg)
	}

	100%{
		-moz-transform:rotate(360deg)
	}
}