<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ROOT</display-name>
  <welcome-file-list>
    <welcome-file>members/index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>databaseURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/gigbud5_realm</param-value>
  </context-param>
  <context-param>
    <param-name>databaseUsername</param-name>
    <param-value>gigbud5_toni</param-value>
  </context-param>
  <context-param>
    <param-name>databasePassword</param-name>
    <param-value>DCFGTwHzqOZS</param-value>
  </context-param>
  <!-- Production: /home/gigbud5/public_html/userimages/
	   Test: c:/images/ -->
  <context-param>
    <param-name>imagePath</param-name>
    <param-value>/home/gigbud5/public_html/userimages/</param-value>
  </context-param>
  <context-param>
    <param-name>apiKey</param-name>
    <param-value></param-value>
  </context-param>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>org.gigbuddy.registration.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FacebookSignUpServlet</servlet-name>
    <servlet-class>org.gigbuddy.registration.FacebookSignUpAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacebookSignUpServlet</servlet-name>
    <url-pattern>/facebookSignUp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginDetailsGetter</servlet-name>
    <servlet-class>org.gigbuddy.registration.LoginDetailsGetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDetailsGetter</servlet-name>
    <url-pattern>/getUserLoginDetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageDownloaderAJAX</servlet-name>
    <servlet-class>org.gigbuddy.registration.DownloadImageAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageDownloaderAJAX</servlet-name>
    <url-pattern>/downloadImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeEmailSender</servlet-name>
    <servlet-class>org.gigbuddy.registration.WelcomeEmailSenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeEmailSender</servlet-name>
    <url-pattern>/welcomeEmail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailValidator</servlet-name>
    <servlet-class>org.gigbuddy.registration.EmailConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidator</servlet-name>
    <url-pattern>/validateEmail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
  		It checks if profile image has been set
  	 	and if not it downloads the image and sets the path in the database
  	</description>
    <servlet-name>ProfileImageSetter</servlet-name>
    <servlet-class>org.gigbuddy.registration.ProfileImageSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileImageSetter</servlet-name>
    <url-pattern>/setProfileImageIfNotSet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxListCreator</servlet-name>
    <servlet-class>org.gigbuddy.events.EventListCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxListCreator</servlet-name>
    <url-pattern>/createEventList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxResultGetter</servlet-name>
    <servlet-class>org.gigbuddy.events.ResultGetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxResultGetter</servlet-name>
    <url-pattern>/getResults.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventAdderServlet</servlet-name>
    <servlet-class>org.gigbuddy.events.EventAdder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventAdderServlet</servlet-name>
    <url-pattern>/members/storeEvent.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>org.gigbuddy.profile.Uploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/members/upload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageDeleter</servlet-name>
    <servlet-class>org.gigbuddy.profile.ImageDeleterAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageDeleter</servlet-name>
    <url-pattern>/members/deleteImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainImageSetterAJAX</servlet-name>
    <servlet-class>org.gigbuddy.profile.SetMainImageAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainImageSetterAJAX</servlet-name>
    <url-pattern>/members/setMainImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BandNameGetterAJAX</servlet-name>
    <servlet-class>org.gigbuddy.profile.BandNameGetterAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BandNameGetterAJAX</servlet-name>
    <url-pattern>/members/getBandNames.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersBandAdderAJAX</servlet-name>
    <servlet-class>org.gigbuddy.profile.UsersBandAdderAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersBandAdderAJAX</servlet-name>
    <url-pattern>/members/usersBandIntoDatabase.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersBandsGetterAJAX</servlet-name>
    <servlet-class>org.gigbuddy.profile.UsersBandsGetterAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersBandsGetterAJAX</servlet-name>
    <url-pattern>/members/getUsersBand.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersBandDeleterAJAX</servlet-name>
    <servlet-class>org.gigbuddy.profile.UsersBandDeleterAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersBandDeleterAJAX</servlet-name>
    <url-pattern>/members/deleteUsersBand.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetImageServlet</servlet-name>
    <servlet-class>org.gigbuddy.profile.GetImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImageServlet</servlet-name>
    <url-pattern>/getImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AboutGetterAJAX</servlet-name>
    <servlet-class>org.gigbuddy.profile.AboutGetterAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutGetterAJAX</servlet-name>
    <url-pattern>/members/getAbout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LocationGetterAJAX</servlet-name>
    <servlet-class>org.gigbuddy.profile.LocationGetterAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationGetterAJAX</servlet-name>
    <url-pattern>/members/getLocation.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgeGetterAJAX</servlet-name>
    <servlet-class>org.gigbuddy.profile.AgeGetterAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgeGetterAJAX</servlet-name>
    <url-pattern>/members/getAge.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NameGetterAJAX</servlet-name>
    <servlet-class>org.gigbuddy.profile.NameGetterAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameGetterAJAX</servlet-name>
    <url-pattern>/members/getName.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuddyRequestDeleterAJAX</servlet-name>
    <servlet-class>org.gigbuddy.events.DeleteBuddyRequestAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuddyRequestDeleterAJAX</servlet-name>
    <url-pattern>/members/deleteBuddyRequest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventDeleterAJAX</servlet-name>
    <servlet-class>org.gigbuddy.events.DeleteEventAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDeleterAJAX</servlet-name>
    <url-pattern>/members/deleteEvent.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageSender</servlet-name>
    <servlet-class>org.gigbuddy.events.MessageSenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageSender</servlet-name>
    <url-pattern>/members/sendApplication.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NameSetter</servlet-name>
    <servlet-class>org.gigbuddy.profile.NameSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameSetter</servlet-name>
    <url-pattern>/members/updateName.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgeSetter</servlet-name>
    <servlet-class>org.gigbuddy.profile.AgeSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgeSetter</servlet-name>
    <url-pattern>/members/updateAge.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LocationSetter</servlet-name>
    <servlet-class>org.gigbuddy.profile.LocationSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationSetter</servlet-name>
    <url-pattern>/members/updateLocation.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AboutSetter</servlet-name>
    <servlet-class>org.gigbuddy.profile.AboutSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutSetter</servlet-name>
    <url-pattern>/members/updateAbout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PasswordSetter</servlet-name>
    <servlet-class>org.gigbuddy.profile.PasswordSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordSetter</servlet-name>
    <url-pattern>/members/updatePassword.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>org.gigbuddy.registration.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/members/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MembersGetter</servlet-name>
    <servlet-class>org.gigbuddy.findmembers.MembersGetterAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembersGetter</servlet-name>
    <url-pattern>/getMembersResults.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImagesGetter</servlet-name>
    <servlet-class>org.gigbuddy.findmembers.ImagesGetterAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImagesGetter</servlet-name>
    <url-pattern>/getUserPics.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuddRequestForm</servlet-name>
    <jsp-file>/members/buddyRequest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuddRequestForm</servlet-name>
    <url-pattern>/members/takeToServletJSP.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreBuddyRequest</servlet-name>
    <servlet-class>org.gigbuddy.events.BuddyRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreBuddyRequest</servlet-name>
    <url-pattern>/members/saveBuddyRequest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestsGetterAJAX</servlet-name>
    <servlet-class>org.gigbuddy.events.BuddyRequestsGetterAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestsGetterAJAX</servlet-name>
    <url-pattern>/getBuddyRequests.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageGetter</servlet-name>
    <servlet-class>org.gigbuddy.messaging.GetMessagesSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageGetter</servlet-name>
    <url-pattern>/members/showMessages.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageGetterAJAX</servlet-name>
    <servlet-class>org.gigbuddy.messaging.GetMessagesAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageGetterAJAX</servlet-name>
    <url-pattern>/members/showMessagesAJAXs.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageResponderAJAX</servlet-name>
    <servlet-class>org.gigbuddy.messaging.MessageResponderAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageResponderAJAX</servlet-name>
    <url-pattern>/members/respondToMessage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactUsServlet</servlet-name>
    <servlet-class>org.gigbuddy.contactus.ContactUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsServlet</servlet-name>
    <url-pattern>/sendMessage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PromotionEligibilityValidator</servlet-name>
    <servlet-class>org.gigbuddy.tshirt.promotion.UserEligibilityValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromotionEligibilityValidator</servlet-name>
    <url-pattern>/eligibilityCheck.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClaimConfirm</servlet-name>
    <servlet-class>org.gigbuddy.tshirt.promotion.ClaimConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimConfirm</servlet-name>
    <url-pattern>/confirmClaim.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MySQLRegister</servlet-name>
    <servlet-class>org.gigbuddy.startup.MySQLReferencing</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>EventScraper</servlet-name>
    <servlet-class>org.gigbuddy.startup.EventScraper</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DatabaseCleaner</servlet-name>
    <servlet-class>org.gigbuddy.startup.DatabaseCleanerServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>WarningSender</servlet-name>
    <servlet-class>org.gigbuddy.startup.WarningSenderServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>EligibleUserPromotionSender</servlet-name>
    <servlet-class>org.gigbuddy.tshirt.promotion.EligibleUserPromotionSender</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>MembersArea</web-resource-name>
      <url-pattern>/members/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>member</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/indexForm.jsp</form-login-page>
      <form-error-page>/hasNotSignedUp.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <filter>
    <description>Saves the url of the main image in a session attribute</description>
    <filter-name>MainImageSetter</filter-name>
    <filter-class>org.gigbuddy.startup.PostLoginOperations</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MainImageSetter</filter-name>
    <url-pattern>/members/*</url-pattern>
  </filter-mapping>
</web-app>
